.ant-form-item {
  display: block;
}

.ant-form label::before {
  display: none !important;
}

.ant-modal-header {
  padding: 0 0 16px 0;
  border: none;
}

.ant-modal-header h1 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.ant-modal-body {
  padding: 0;
}

.ant-modal-content {
  padding: 24px;
}

.ant-modal-title {
  font-size: 32px;
  font-weight: 600;
}
