body {
  color: white;
  margin: 0;
  background-color: #000;
  font-family: Montserrat-Medium, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section section div {
  box-shadow: rgba(59, 218, 1, 1) 0px 0px 0px 5px inset !important;
}
